<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body class="bg-[#C9CAD9] p-5 overflow-hidden">
    <div
      class="flex gap-2 p-2 bg-white rounded-2xl min-h-[95vh] max-w-[1100px] m-auto"
    >
      <section class="imgSection w-[30%] rounded-lg hidden sm:block"></section>
      <section
        class="w-full sm:w-[70%] bg-[#A3BCF9] rounded-lg p-10 h-[95vh] overflow-y-auto"
      >
        <form id="bookingForm" th:action="@{book}" th:object="${bookingForm}" action="post">
          <!-- Fight Details Section -->

          <div class="mb-5">
            <h1 class="text-2xl font-semibold tracking-wide">Book a flight</h1>
            <h3 class="tracking-wide">Please fill the form to book.</h3>
          </div>

          <!-- Trip Type -->

          <div class="mb-5">
            <h1 class="mb-2 text-lg font-medium traking-wide">Trip Type</h1>
            <div class="flex">
              <span class="w-full">
                <input
                  type="radio"
                  name="tripType"
                  id="roundTrip"
                  value="Round Trip"
                />
                <label class="" for="roundTrip"> Round Trip </label>
              </span>
              <span class="w-full">
                <input
                  type="radio"
                  name="tripType"
                  id="oneWayTrip"
                  value="One Way Trip"
                />
                <label for="oneWayTrip"> One Way Trip </label>
              </span>
            </div>
            <span id="tripTypeError" class="text-sm text-red-500 mt-2 hidden"></span>
          </div>

          <!-- From and To -->

          <div class="flex flex-col sm:flex-row gap-2 mb-5">
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for="origin"
                >From</label
              >
              <select id="departureCity" name ="departureCity" class="p-2 w-full">
                <option value="" selected disabled hidden>Please Select</option>
                <option value="Toronto">Toronto</option>
                <option value="Paris">Paris</option>
                <option value="New York">New York</option>
                <option value="London">London</option>
                <option value="Amsterdam">Amsterdam</option>
              </select>
              <span
                id="departureCityError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
              <span
                class="sameCityError text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >To</label
              >
              <select id="arrivalCity" name="arrivalCity" class="p-2 w-full">
                <option value="" selected hidden>Please Select</option>
                <option value="Toronto">Toronto</option>
                <option value="Paris">Paris</option>
                <option value="New York">New York</option>
                <option value="London">London</option>
                <option value="Amsterdam">Amsterdam</option>
              </select>
              <span
                id="arrivalCityError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
              <span
                class="sameCityError text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
          </div>

          <!-- Airline and Departure -->

          <div class="flex flex-col sm:flex-row gap-2 mb-5">
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Airline</label
              >
              <select id="airline" name="airline" class="p-2 w-full">
                <option value="" selected hidden>Please Select</option>
                <option value="Centrip Airlines">Centrip Airlines</option>
                <option value="Air Canada">Air Canada</option>
                <option value="Delta Airlines">Delta Airlines</option>
                <option value="British Airways">British Airways</option>
                <option value="Emirates Airlines">Emirates Airlines</option>
              </select>
              <span
                id="airlineError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Departure</label
              >
              <input
                id="departureDate"
                name="departureDate"
                class="p-2 h-[41px] w-full"
                type="date"
              />
              <span class="text-xs mt-2">Date</span>
              <span
                id="departureDateError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
          </div>

          <!-- Return date and Number of adults -->

          <div class="flex flex-col sm:flex-row gap-2 mb-5">
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Return</label
              >
              <input id="returnDate" name="returnDate" class="p-2 h-[41px] w-full" type="date" />
              <span class="text-xs mt-2">Date</span>
              <span
                id="returnDateError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Adults (+16)</label
              >
              <input
                id="adultsCount"
                name="adultsCount"
                class="p-2 h-[41px] w-full"
                type="number"
                placeholder="ex: 2"
                min="1"
              />
              <span
                id="adultsCountError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
          </div>

          <!-- Traveler Details Section -->

          <div class="mb-5">
            <h1 class="text-2xl font-semibold tracking-wide">
              Traveler Details
            </h1>
          </div>

          <!-- Name -->

          <div class="flex flex-col mb-5">
            <label class="mb-2 text-lg font-medium traking-wide" for=""
              >Name</label
            >
            <div class="flex flex-col lg:flex-row gap-5 lg:gap-2">
              <span class="flex flex-col w-full">
                <select class="p-2 w-full" name="prefix">
                  <option value="" selected hidden>Please Select</option>
                  <option value="Mr.">Mr.</option>
                  <option value="Mrs.">Mrs.</option>
                  <option value="Ms.">Ms.</option>
                </select>
                <span class="text-xs mt-2">Prefix</span>
              </span>
              <span class="flex flex-col w-full">
                <input id="firstName" name="firstName" class="p-2 h-[41px] w-full" type="text" />
                <span class="text-xs mt-2">First Name</span>
                <span
                  id="firstNameError"
                  class="text-sm text-red-500 mt-2 hidden"
                ></span>
              </span>
              <span class="flex flex-col w-full">
                <input class="p-2 h-[41px] w-full" name="middleName" type="text" />
                <span class="text-xs mt-2">Middle Name</span>
              </span>
              <span class="flex flex-col w-full">
                <input id="lastName" name="lastName" class="p-2 h-[41px] w-full" type="text" />
                <span class="text-xs mt-2">Last Name</span>
                <span
                  id="lastNameError"
                  class="text-sm text-red-500 mt-2 hidden"
                ></span>
              </span>
            </div>
          </div>

          <!-- Passport number and nationality -->

          <div class="flex flex-col sm:flex-row gap-2 mb-5">
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Passport Number</label
              >
              <input
                id="passportNumber"
                name="passportNumber"
                class="p-2 h-[41px] w-full"
                type="text"
              />
              <span
                id="passportNumberError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Nationality</label
              >
              <select id="nationality" name="nationality" class="p-2 w-full">
                <option value="" selected hidden>Please Select</option>
                <option value="Canada">Canada</option>
                <option value="France">France</option>
                <option value="Netherlands">Netherlands</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
              </select>
              <span
                id="nationalityError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
          </div>

          <!-- Expiry date and Issue date -->

          <div class="flex flex-col sm:flex-row gap-2 mb-5">
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Expiry</label
              >
              <input id="expiryDate" name="expiryDate" class="p-2 h-[41px] w-full" type="date" />
              <span class="text-xs mt-2">Date</span>
              <span
                id="expiryDateError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Issue</label
              >
              <input id="issueDate" name="issueDate" class="p-2 h-[41px] w-full" type="date" />
              <span class="text-xs mt-2">Date</span>
              <span
                id="issueDateError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
          </div>

          <!-- Phone number and Email -->

          <div class="flex flex-col sm:flex-row gap-2 mb-5">
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Phone Number</label
              >
              <input
                id="phoneNumber"
                name="phoneNumber"
                class="p-2 h-[41px] w-full"
                type="text"
                placeholder="(000) 000-0000"
              />
              <span
                id="phoneNumberError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
            <span class="flex flex-col w-full">
              <label class="mb-2 text-lg font-medium traking-wide" for=""
                >Email</label
              >
              <span class="flex flex-col gap-2">
                <input id="email" name="email" class="p-2 h-[41px] w-full" type="email" />
                <span
                  id="emailError"
                  class="text-sm text-red-500 mb-2 hidden"
                ></span>
                <input
                  id="confirmEmail"
                  class="p-2 h-[41px] w-full"
                  type="email"
                  placeholder="confirm Email"
                />
              </span>
              <span class="text-xs mt-2">example@example.com</span>
              <span
                id="confirmEmailError"
                class="text-sm text-red-500 mt-2 hidden"
              ></span>
            </span>
          </div>

          <!-- Address -->

          <div class="flex flex-col mb-5">
            <label class="mb-2 text-lg font-medium traking-wide" for=""
              >Address</label
            >
            <div class="flex flex-col gap-5">
              <span class="flex flex-col w-full">
                <input
                  id="streetAddress"
                  name="streetAddress"
                  class="p-2 h-[41px] w-full"
                  type="text"
                />
                <span class="text-xs mt-2">Street Address</span>
                <span
                  id="streetAddressError"
                  class="text-sm text-red-500 mt-2 hidden"
                ></span>
              </span>
              <span class="flex flex-col w-full">
                <input name="streetAddressLine2" class="p-2 h-[41px] w-full" type="text" />
                <span class="text-xs mt-2">Street Address Line 2</span>
              </span>
              <div class="flex flex-col sm:flex-row sm:gap-2 gap-5">
                <span class="flex flex-col w-full">
                  <input id="city" name="city" class="p-2 h-[41px] w-full" type="text" />
                  <span class="text-xs mt-2">City</span>
                  <span
                    id="cityError"
                    class="text-sm text-red-500 mt-2 hidden"
                  ></span>
                </span>
                <span class="flex flex-col w-full">
                  <input
                    id="province"
                    class="p-2 h-[41px] w-full"
                    type="text"
                  />
                  <span class="text-xs mt-2">Province</span>
                  <span
                    id="provinceError"
                    class="text-sm text-red-500 mt-2 hidden"
                  ></span>
                </span>
              </div>
              <div class="flex flex-col sm:flex-row sm:gap-2 gap-5">
                <span class="flex flex-col w-full">
                  <input id="postalCode" name="postalCode" class="p-2 h-[41px]" type="text" />
                  <span class="text-xs mt-2">Postal Code</span>
                  <span
                    id="postalCodeError"
                    class="text-sm text-red-500 mt-2 hidden"
                  ></span>
                </span>
                <span class="flex flex-col w-full">
                  <select id="country" name="country" class="p-2 w-full">
                    <option value="" selected hidden>Please Select</option>
                    <option value="Canada">Canada</option>
                    <option value="France">France</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                  </select>
                  <span class="text-xs mt-2">Country</span>
                  <span
                    id="countryError"
                    class="text-sm text-red-500 mt-2 hidden"
                  ></span>
                </span>
              </div>
            </div>
          </div>

          <!-- Submit and Clear -->

          <div class="flex flex-col sm:flex-row gap-2 mt-10">
            <button
              type="submit"
              class="bg-black text-white pt-2 pb-2 pl-10 pr-10 rounded w-full"
              id="submitBtn"
            >
              Submit
            </button>
            <button
              type="reset"
              class="bg-[#315cc5] text-white pt-2 pb-2 pl-10 pr-10 rounded w-full"
            >
              Clear
            </button>
          </div>

          <!-- end of form -->
        </form>
      </section>
    </div>
    <script th:src="@{/js/script.js}"></script>
  </body>
</html>
